<% provide(:title, 'Recreation') %>
<h1>Recreation</h1>
<p>
    Do <a href="http://www.beautiful-places.com/">You want to relax</a>
  	is a place where you can enjoy life, and stay away from frustration
  	with <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
  	will make your vacation fun.
</p>
 